.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;   
    transform: skewX(-12deg);
    @include clearfix;

    @include respond(tab-port) { 
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        padding: 4rem 3rem;
        transform: skewX(0);
        text-align: center;
    }

    & > * {
        transform: skewX(12deg);
        @include respond(phone) { 
            transform: skewX(0);
        }
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;

        @supports (clip-path: circle(49% at 50% 50%)) or (-webkit-clip-path: circle(49% at 50% 50%)) {
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            -webkit-clip-path: circle(49% at 50% 50%);
            clip-path: circle(49% at 50% 50%);
            width: 15rem;
            height: 15rem;
            border-radius: none;
        }

        @include respond(phone) {
            display: inline-block;
            float: none;
            transform: translateX(0) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;

        @supports (object-fit: cover) {
            width: 100%;
            object-fit: cover;
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 1.7rem;
        text-transform: uppercase;
        text-align: center; 
        opacity: 0; 
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
}